.contact-form {
    border-radius:25px !important; /* Force application */
  }
  @media (max-width: 1200px) {
   
    .contact-form {
      width: 100% !important;
      left: 0 !important;
      top: 0 !important;
      opacity: 1 !important;
      padding: 20px;
    }
  .getintouch{
    text-align: center;
  }
   
  }
  

  
  









/* .contact-us-container {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-left {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 1rem;
}

.contact-right {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

h2 span {
  font-weight: bold;
}

.bg-primary {
  background-color: #3c647a !important;
}

.bg-white {
  background-color: #ffffff !important;
}

button {
  font-weight: bold;
}



@media (min-width: 768px) and (max-width: 992px) {
  .mobilenumber {
    display: block; /* Ensures it's treated as a block-level element */
    /* text-align: center; */
    /* justify-content: center; */
    /* border: 2px solid red; */
    /* max-width: 300px; Optional, to constrain width */
  /* } */
/* } */ 














