.image-container,
.content-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.content-container {
    justify-content: flex-end;
}

.d-flex.gap-4 {
    gap: 2rem;
}
