@media (max-width: 768px) {
  /* Apply flex-direction column and gap to the main flex container */
  .gx-4.mb-4.d-flex {
    flex-direction: column !important;
    gap: 50px !important;
  }

  /* Apply flex-direction column and gap to the nested flex containers */
  .d-flex.align-items-stretch {
    flex-direction: column !important;
    gap: 40px !important;
  }


  .row {
    gap: 30px !important;
  }
}
